<ion-view>  
    <ion-nav-title ng-bind="title"></ion-nav-title>
    
    <!-- Cours loaded -->
    <ion-content ng-show="topicModel.loaded" id="topicContent" class="sustainappScroll">
        
        <!-- HEADER [title, picture] -->
	    <div class="s-topic-pictureContainer" style="background-image : url({{topicModel.displayPicture}});">
	        
	        <div class="s-topic-pictureBtn">
		        <!-- Mobile view -->
	            <div ng-if="topicModel.isOwner && _isNotMobile == false" class="s-common-camera">
	               <div class="s-common-choosePictureToogle" ng-show="topicModel.pictureEdit" ng-click="topicModel.pictureEdit = false">
	                  <i class="icon ion-close-round"></i>
	               </div>
	               <div class="s-common-choosePicture" ng-show="topicModel.pictureEdit" ng-click="picture(true)">
	                  {{'common.takePicture' | translate}}
	               </div>
	               <div class="s-common-choosePicture" ng-show="topicModel.pictureEdit" ng-click="picture(false)">
	                 {{'common.chooseFormGallery' | translate}}
	               </div>
	               <div class="s-common-choosePictureToogle s-common-22" ng-hide="topicModel.pictureEdit" ng-click="topicModel.pictureEdit = true">
	                  <i class="icon ion-camera"></i>
	               </div>
	           </div>
	           <!-- Desktop view -->
	           <div class="s-common-camera" ng-if="topicModel.isOwner && _isNotMobile == true">
	                <div class="s-common-choosePictureToogle s-common-22 s-common-inputFile-container" >
	                    <i class="icon ion-camera"></i>
	                    <input type="file" class="s-common-inputFile" onchange="angular.element(this).scope().desktopPicture(this)" />
	                </div>
	            </div>
            </div>
	        
	        <div class="s-topic-titleContainer">
	            <h3 class="s-common-whiteTitle">{{topicModel.topic.title}}</h3>
	        </div>
	    </div>
	    
	    <!-- Partie ajout d'une nouvelle partie -->
        <div ng-if="topicModel.isOwner">            
            <div class="s-topic-partBtn row" ng-show="topicModel.blueMenu">
                <div class="col col-25 s-topic-blueCol" ng-click="openPart(1)">
                    <img class="s-topic-partImg" src="img/topic/text.png" />
                </div>
                <div class="col col-25 s-topic-blueCol" ng-click="openPart(2)">
                    <img class="s-topic-partImg" src="img/topic/picture.png" />
                </div>
                <div class="col col-25 s-topic-blueCol" ng-click="openPart(3)">
                    <img class="s-topic-partImg" src="img/topic/video.png" />
                </div>
                <div class="col col-25 s-topic-blueCol" ng-click="openPart(4)">
                    <img class="s-topic-partImg" src="img/topic/link.png" />
                </div>
            </div>
            <div class="s-topic-blueMenuBtn" ng-click="topicModel.blueMenu = !topicModel.blueMenu">
               <i ng-hide="topicModel.blueMenu" class="icon ion-plus"></i>
               <i ng-show="topicModel.blueMenu" ng-show="" class="icon ion-close-round"></i>
            </div>
        </div> 
        
	    <div class="s-topic-text" ng-hide="topicModel.edit">
	       <div class="s-common-floatEdit s-topic-seePreview"  ng-click="topicModel.isOwner = !topicModel.isOwner" ng-if="topicModel.isOwner && topicModel.isReallyOwner" >
                 <i class="icon ion-eye-disabled"></i>
           </div>
           <div class="s-common-floatEdit s-topic-seePreview"  ng-click="topicModel.isOwner = !topicModel.isOwner" ng-if="false == topicModel.isOwner && topicModel.isReallyOwner" >
                 <i class="icon ion-eye"></i>
           </div>
	       <div class="s-common-floatEdit"  ng-click="topicModel.edit = true" ng-if="topicModel.isOwner" >
                 <i class="icon ion-edit"></i>
           </div>
           <div class="padding s-topic-about">
	           {{topicModel.topic.content}}
	       </div>
	    </div>
	    <div class="padding" ng-show="topicModel.edit">
           <div class="s-common-floatEdit"  ng-click="topicModel.edit = false" ng-if="topicModel.isOwner" >
                 <i class="icon ion-close-round"></i>
           </div>
           <label class="item item-input item-floating-label" >
             <span class="input-label s-common-label">{{'common.title' | translate}}</span>
             <input ng-model="topicModel.title" type="text" placeholder="{{'common.title' | translate}}" class="s-common-input">
             <span class="s-common-errors">{{topicModel.allErrors.title | translate}}</span>
           </label>
           <label class="item item-input item-floating-label" >
             <span class="input-label s-common-label">{{'common.about' | translate}}</span> 
             <input ng-model="topicModel.content" type="text" placeholder="{{'common.about' | translate}}" class="s-common-input">
             <span class="s-common-errors">{{topicModel.allErrors.about | translate}}</span>
           </label>
           <button class="s-common-lightBtn" ng-click="updateTopic()">{{'common.modify' | translate}}</button>
        </div>


        <!-- ALL PARTS -->
        <div ng-repeat="part in topicModel.parts">
            
            <!-- Option n°1 : affichage d'une partie de texte -->
            <div ng-if="1 == part.type" class="s-part-displayTextDiv" ng-click="openModif(part)" ng-show="partModel.eltToEdit != part || !topicModel.isOwner">
	            <div class="s-part-topPart" ng-if="topicModel.isOwner" >
	               <div class="s-part-topPart-one">
	                   <i class="icon ion-edit"></i>
	               </div>
	               <div class="s-part-topPart-one" ng-click="movePart(part, true)" ng-if="$index > 0">
                       <i class="icon ion-arrow-up-a s-part-ibig"></i>
                   </div>
                   <div class="s-part-topPart-one" ng-click="movePart(part, false)" ng-if="$index < topicModel.parts.length-1">
                       <i class="icon ion-arrow-down-a s-part-ibig"></i>
                   </div>
                   <div class="s-part-topPart-one" ng-click="deletePart(part)" >
                       <i class="icon ion-trash-a s-part-ibig"></i>
                   </div>
	            </div>
	            <h3 class="s-profile-name s-part-displayTextTitle">{{part.title}}</h3>
	            <p class="s-part-displayText">{{part.content}}</p>
            </div>            
            
            <!-- Option n°2 : affichage d'une image -->
            <div ng-if="2 == part.type" class="s-part-displayPictureDiv">
                <div class="s-common-padding20 s-part-topPart" ng-if="topicModel.isOwner" >
                   <div class="s-part-topPart-one" ng-click="movePart(part, true)" ng-if="$index > 0">
                       <i class="icon ion-arrow-up-a s-part-ibig"></i>
                   </div>
                   <div class="s-part-topPart-one" ng-click="movePart(part, false)" ng-if="$index < topicModel.parts.length-1">
                       <i class="icon ion-arrow-down-a s-part-ibig"></i>
                   </div>
                   <div class="s-part-topPart-one" ng-click="deletePart(part)" >
                       <i class="icon ion-trash-a s-part-ibig"></i>
                   </div>
                </div>
                <img ng-src="data:image/jpeg;base64,{{part.document}}" width="100%" height="auto" />
                <div class="s-part-displayDocumentTitle"><em>"{{part.title}}"</em></div>
            </div>
            
            <!-- Option n°3 : affichage d'une vidéo -->
            <div ng-if="3 == part.type" class="s-part-displayVideoDiv">
                <div class="s-common-padding20 s-part-topPart" ng-if="topicModel.isOwner" >
                   <div class="s-part-topPart-one" ng-click="movePart(part, true)" ng-if="$index > 0">
                       <i class="icon ion-arrow-up-a s-part-ibig"></i>
                   </div>
                   <div class="s-part-topPart-one" ng-click="movePart(part, false)" ng-if="$index < topicModel.parts.length-1">
                       <i class="icon ion-arrow-down-a s-part-ibig"></i>
                   </div>
                   <div class="s-part-topPart-one" ng-click="deletePart(part)">
                       <i class="icon ion-trash-a s-part-ibig"></i>
                   </div>
                </div>
                <iframe type='text/html' width='100%' height="380px" ng-src="{{part.content}}" frameborder='0' allowfullscreen="true"></iframe>   
                <div class="s-part-displayDocumentTitle"><em>"{{part.title}}"</em></div>
            </div>
            
            <!-- Option n°4 : affichage d'un lien -->
            <div ng-if="4 == part.type" class="s-part-displayLinkDiv" ng-show="partModel.eltToEdit != part || !topicModel.isOwner">
                <div class="s-part-topPart" ng-if="topicModel.isOwner" >
                   <div class="s-part-topPart-one" ng-click="openModif(part)">
                       <i class="icon ion-edit"></i>
                   </div>
                   <div class="s-part-topPart-one" ng-click="movePart(part, true)" ng-if="$index > 0">
                       <i class="icon ion-arrow-up-a s-part-ibig"></i>
                   </div>
                   <div class="s-part-topPart-one" ng-click="movePart(part, false)" ng-if="$index < topicModel.parts.length-1">
                       <i class="icon ion-arrow-down-a s-part-ibig"></i>
                   </div>
                   <div class="s-part-topPart-one" ng-click="deletePart(part)">
                       <i class="icon ion-trash-a s-part-ibig"></i>
                   </div>
                </div>
                <a ng-click="openLink(part.content)" class="s-part-displayLink" >
                    <i class="icon ion-link placeholder-icon s-part-borderInput-icon"></i><span class="s-part-displayLink-visit">Visiter le lien :</span>{{part.content}}
                </a>
            </div>

            <!-- MODIFICATION D'UNE PARTIE -->
            <div ng-show="partModel.eltToEdit == part && topicModel.isOwner" class="s-part-modifBtn">      
                <div class="s-part-topPart" ng-if="topicModel.isOwner" >
                   <div class="s-part-topPart-one" ng-click="closeModif(part)">
                       <i class="icon ion-close"></i>
                   </div>                   
                </div>
                <div ng-if="4 == part.type" class="list list-inset s-part-borderInput">
                  <label class="item item-input s-part-borderInput-label">
                    <i class="icon ion-link placeholder-icon s-part-borderInput-icon"></i>
                    <input ng-model="partModel.contentEdit" type="text" placeholder="{{'part.link' | translate}}" class="s-part-borderInput-input" />
                  </label>
                </div>
                <label ng-if="1 == part.type" class="item item-input item-floating-label" > 
                  <span class="input-label s-common-label">{{'common.title' | translate}}</span> 
                  <input ng-model="partModel.titleEdit" type="text" placeholder="{{'common.title' | translate}}" class="s-common-input">
                  <span class="s-common-errors">{{partModel.allErrors.title | translate}}</span>
                </label>
                <div ng-if="1 == part.type" class="s-part-textareaDiv">
                  <textarea ng-model="partModel.contentEdit" rows="10" class="s-part-textarea" placeholder="{{'part.text' | translate}}..."></textarea>
                </div>
                <button class="s-common-btn" ng-click="modifyPart()">{{'common.modify' | translate}}</button>
            </div>
        </div>
       
		<div class="padding s-topic-quizPart">           
	         <!-- go to the quizz or edit it -->
	         <button ng-click="goToQuiz()" ng-hide="topicModel.isOwner" ng-if="topicModel.hasQuiz" class="s-common-lightBtn" ><i class="icon ion-ribbon-b s-topic-ribbon"></i> {{'topic.quizz.go' | translate}} !</button>
	         <button ng-click="editQuiz()" ng-show="topicModel.isOwner" class="s-common-lightBtn" ><i class="icon ion-edit s-topic-ribbon"></i> {{'topic.quizz.edit' | translate}} !</button>
	         <!-- return home bottom page -->
	         <div class="row">
			     <div class="col col-50">
			         <div class="s-topic-return" >
			             <a href="#/tab/cours/{{topicModel.topic.curseId}}">
			                 <i class="icon ion-home"></i><br />
			                 <span>{{'topic.return' | translate}}</span>
			             </a>
			         </div>
			      </div>
			      <div class="col col-50">
                     <div class="s-topic-return s-topic-top" ng-click="scrollTop()">                         
                             <i class="icon ion-arrow-up-a"></i><br />
                             <span>{{'topic.up' | translate}}</span>
                     </div>
                  </div>
	         </div>
	     </div>           
    </ion-content>
    
    <!-- Loading Part -->
    <ion-content class="s-common-loading" ng-hide="topicModel.loaded">
        <ion-spinner icon="dots"></ion-spinner>
        <h2 class="s-common-loadingText">{{'common.loading' | translate}}</h2>
    </ion-content>
</ion-view>