<ion-view view-title="{{'sideMenu.administration' | translate }}">
    <ion-content>
        <ion-list>
              <ion-item type="item-text-wrap" href="#/tab/administration/challenge-type">                 
                  <h2 class="s-admin-item"><i class="icon ion-trophy s-admin-icon"></i> {{'administration.challengeTypes' | translate}}</h2>
              </ion-item>
              <ion-item type="item-text-wrap" href="#/tab/administration/challenge-type">
                  <h2 class="s-admin-item"><i class="icon ion-university s-admin-icon"></i> {{'administration.categories' | translate}}</h2>
              </ion-item>
              <ion-item type="item-text-wrap" href="#/tab/administration/challenge-type">
                  <h2 class="s-admin-item"><i class="icon ion-android-bus s-admin-icon"></i> {{'administration.transport' | translate}}</h2>
              </ion-item>
            </ion-list> 
    </ion-content>
</ion-view>