<ion-view view-title="{{'sideMenu.administration' | translate }}">
    <ion-content>
        <ion-list>
              <ion-item type="item-text-wrap" href="#/tab/administration/reports">                 
                  <h2 class="s-admin-item"><i class="icon ion-android-alert s-admin-icon"></i> {{'administration.signal' | translate}}</h2>
              </ion-item>
              <ion-item type="item-text-wrap" href="#/tab/administration/data">
                  <h2 class="s-admin-item"><i class="icon ion-pie-graph s-admin-icon"></i> {{'administration.data' | translate}}</h2>
              </ion-item>
            </ion-list> 
    </ion-content>
</ion-view>