<ion-view view-title="{{'administration.research' | translate }}">
    <!-- Data loaded -->
    <ion-content ng-show="model.loaded" class="sustainappScroll">
        <div class="s-news-greyPart">
           <h2 class="s-common-greyTitle" >{{'administration.general' | translate}}</h2>
        </div>
        <div class="padding">
           {{'administration.total' | translate}} : <b>{{model.total}}</b>
        </div>
        <div class="s-news-greyPart">
           <h2 class="s-common-greyTitle" >{{'administration.mostView' | translate}}</h2>
        </div>
        <ion-list>
          <ion-item class="item" ng-repeat="query in model.mostSeen" type="item-text-wrap" >
               <p class="s-teams-text">{{query}}</p>
          </ion-item>
        </ion-list>
        <div class="s-news-greyPart">
           <h2 class="s-common-greyTitle" >{{'administration.byHours' | translate}}</h2>
        </div>
        <div>           
            <canvas id="bar1" class="chart chart-bar" chart-data="model.hoursData" chart-labels="model.hoursLabels" chart-series="model.seriesHours"></canvas> 
        </div>
        <div class="s-news-greyPart">
           <h2 class="s-common-greyTitle" >{{'administration.byDays' | translate}}</h2>
        </div>
        <div>
           <canvas id="bar2" class="chart chart-bar" chart-data="model.daysData" chart-labels="model.daysLabels" chart-series="model.seriesDays"></canvas>  
        </div>
    </ion-content>
    
    
   <!-- Loading Part -->
   <ion-content class="s-common-loading" ng-hide="model.loaded">
        <ion-spinner icon="dots"></ion-spinner>
        <h2 class="s-common-loadingText">{{'common.loading' | translate}}</h2>
   </ion-content>
</ion-view>