<ion-view >
  <ion-nav-title ng-bind="title"></ion-nav-title>
  <ion-content ng-show="profileModel.loaded" >

    <!-- Cover Picture -->
    <div class="s-profile-coverContainer" style="background-image: url({{profileModel.displayCover}});">
	    <!-- Mobile view -->
	    <div ng-show="profileModel.owner" class="s-common-camera" ng-if="_isNotMobile == false">
            <div class="s-common-choosePictureToogle" ng-show="profileModel.coverEdit" ng-click="profileModel.coverEdit = false">
               <i class="icon ion-close-round"></i>
            </div>
            <div class="s-common-choosePicture" ng-show="profileModel.coverEdit" ng-click="cover(true)">
               {{'common.takePicture' | translate}}
            </div>
            <div class="s-common-choosePicture" ng-show="profileModel.coverEdit" ng-click="cover(false)">
              {{'common.chooseFormGallery' | translate}}
            </div>
            <div class="s-common-choosePictureToogle s-common-22" ng-hide="profileModel.coverEdit" ng-click="profileModel.coverEdit = true">
               <i class="icon ion-camera"></i>
            </div>
        </div>
        <!-- Desktop view -->
         <div class="s-common-camera" ng-show="profileModel.owner" ng-if="_isNotMobile">
             <div class="s-common-choosePictureToogle s-common-22 s-common-inputFile-container" >
                <i class="icon ion-camera"></i>
                <input type="file" class="s-common-inputFile" onchange="angular.element(this).scope().desktopCover(this)" />
             </div>
         </div>
    </div>
    <div class="s-profile-pageContainer">
        <div class="padding">
	        <!-- Avatar Picture-->
	        <div class="s-profile-avatarContainer">
	            <div style="background-image: url({{profileModel.displayAvatar}});" class="s-profile-avatar">
	                <!-- Mobile view -->
	                <div ng-show="profileModel.owner" class="s-common-camera" ng-if="_isNotMobile == false">
			           <div class="s-common-choosePictureToogle" ng-show="profileModel.avatarEdit" ng-click="profileModel.avatarEdit = false">
			              <i class="icon ion-close-round"></i>
			           </div>
			           <div class="s-common-choosePicture" ng-show="profileModel.avatarEdit" ng-click="avatar(true)">
			              {{'common.takePicture' | translate}}
			           </div>
			           <div class="s-common-choosePicture" ng-show="profileModel.avatarEdit" ng-click="avatar(false)">
			             {{'common.chooseFormGallery' | translate}}
			           </div>
			           <div class="s-common-choosePictureToogle s-common-22" ng-hide="profileModel.avatarEdit" ng-click="profileModel.avatarEdit = true">
			              <i class="icon ion-camera"></i>
			           </div>
			       </div>
			       <!-- Desktop view -->
			        <div class="s-common-camera" ng-show="profileModel.owner" ng-if="_isNotMobile">
			            <div class="s-common-choosePictureToogle s-common-22 s-common-inputFile-container" >
			               <i class="icon ion-camera"></i>
			               <input type="file" class="s-common-inputFile" onchange="angular.element(this).scope().desktopAvatar(this)" />
			            </div>
			        </div>
	            </div>
	        </div>       
	        
	        <!-- Personal Informations -->
	        <div class="padding s-profile-infos" >
	            <div ng-show="profileModel.modeRead" class="animate">
		            <h2 class="s-profile-name">{{profileModel.profile.firstName}} {{profileModel.profile.lastName}}</h2>
		            <p>{{profileModel.profile.bornDate | date: 'dd/MM/yyyy' }}</p>
		            <div class="s-common-edit" ng-click="profileModel.modeRead = false;" ng-show="profileModel.owner">
		               <i class="icon ion-edit"></i>
		            </div>
	            </div>
	            <div ng-show="profileModel.owner">
		            <div ng-hide="profileModel.modeRead" >
		              <div class="s-common-edit" ng-click="profileModel.modeRead = true;">
		                   <i class="icon ion-close-round"></i>
		              </div>
		              <label class="item item-input item-floating-label" >
		                <span class="input-label s-common-label">{{'profile.firstName' | translate}}</span>
		                <input ng-model="profileModel.profileTemp.firstName" type="text" placeholder="{{'profile.firstName' | translate}}" class="s-common-input">
		                <span class="s-common-errors">{{profileModel.allErrors.firstName | translate}}</span>
		              </label>
		              <label class="item item-input item-floating-label" > 
		                <span class="input-label s-common-label">{{'profile.lastName' | translate}}</span> 
		                <input ng-model="profileModel.profileTemp.lastName" type="text" placeholder="{{'profile.lastName' | translate}}" class="s-common-input">
		                <span class="s-common-errors">{{profileModel.allErrors.lastName | translate}}</span>
		              </label>	             
		              <label class="item item-input item-floating-label" >
		                <span class="input-label s-common-label">{{'profile.bornDate' | translate}}</span>
		                <input ng-model="profileModel.profileTemp.bornDate" type="date" placeholder="{{'profile.bornDate' | translate}}" class="s-common-input">
		                <span class="s-common-errors">{{profileModel.allErrors.bornDate | translate}}</span>
		              </label>
		              <button class="s-common-lightBtn" ng-click="updateProfile()">{{'common.modify' | translate}}</button>
		            </div>
		        </div>
		        
	        </div>
	        <div ng-show="profileModel.owner">
                <label class="checkbox s-common-checkbox-label">
                    <ion-checkbox class="s-common-checkbox" ng-click="toogleVisibility()" ng-model="profileModel.visibility">{{'profile.visibility' | translate}}</ion-checkbox>
                </label>
            </div>
        </div>
        
        <!-- ALL BADGES -->
        <div class="s-common-greyPart s-profile-greyPart">
            <h3 class="s-common-greyTitle" ng-click="profileModel.openBadges = !profileModel.openBadges">{{'profile.badges' | translate}}
            <i class="icon ion-chevron-down s-common-chevron" ng-hide="profileModel.openBadges"></i>
            <i class="icon ion-chevron-up s-common-chevron" ng-show="profileModel.openBadges"></i>
            </h3>
        </div>
        <div class="padding" ng-show="profileModel.openBadges">       
           <div class="s-profile-badgeContainer s-common-center" ng-repeat="elt in profileModel.badges" ng-click="openBadge(elt)">
               <img ng-if="true == elt.on" src="img/badges/{{elt.badge.icon}}.png" class="s-profile-badge" />
               <img ng-if="false == elt.on" src="img/badges/{{elt.badge.icon}}_off.png" class="s-profile-badge" />               
           </div>
        </div>
        
        <!-- ALL COURSES -->
        <div class="s-common-greyPart s-profile-greyPart">
            <h3 class="s-common-greyTitle" ng-click="profileModel.openCourses = !profileModel.openCourses">{{'profile.courses' | translate}}
            <i class="icon ion-chevron-down s-common-chevron" ng-hide="profileModel.openCourses"></i>
            <i class="icon ion-chevron-up s-common-chevron" ng-show="profileModel.openCourses"></i>
            </h3>
        </div>
        <div ng-show="profileModel.openCourses">          
            <div class="s-profile-emptyCourses" ng-if="profileModel.courses.length == 0"> 
                <i class="icon  ion-more"></i>
            </div>
            <ion-list ng-if="profileModel.courses.length > 0">
		     <ion-item ng-if="cours.open != 0 || profileModel.owner" class="item item-thumbnail-left" ng-repeat="cours in profileModel.courses" type="item-text-wrap" href="#/tab/cours/{{cours.id}}">
		         <img ng-src="data:image/jpeg;base64,{{cours.picture}}" onerror="this.src='img/common/defaultCours.png'">
		         <div class="s-challenges-level">{{cours.levelMin}}</div>
		         <h2 class="s-teams-title">{{cours.title}}</h2>
		         <p class="s-teams-text">{{cours.about}}</p>
		         <p class="s-teams-text"><i class="icon ion-ios-calendar-outline"></i> {{cours.timestamps | date: 'dd/MM/yyyy'}}</p> 
		     </ion-item>
		   </ion-list>
        </div>
        
    </div>
  </ion-content>
  
  <!-- Loading Part -->
  <ion-content class="s-common-loading" ng-hide="profileModel.loaded">
        <ion-spinner icon="dots"></ion-spinner>
        <h2 class="s-common-loadingText">{{'common.loading' | translate}}</h2>
  </ion-content>
</ion-view>
