<ion-view view-title="Login | Sustainapp" class="s-login-view" >
    <ion-content class="s-login-content">
        <img src="img/common/greenLaval.png" class="s-login-logo"/>
        <form>
			  <label class="item item-input item-floating-label" >
			    <span class="input-label s-login-label">{{'profile.mail' | translate}}</span>
			    <input ng-model="loginModel.mail" type="text" placeholder="{{'profile.mail' | translate}}" class="s-login-input">
			    <span class="s-login-error">{{loginModel.allErrors.mail | translate}}</span>
			  </label>
			  <label class="item item-input item-floating-label">
			    <span class="input-label s-login-label">{{'profile.password' | translate}}</span>
			    <input ng-model="loginModel.password" type="password" placeholder="{{'profile.password' | translate}}" class="s-login-input">
			    <span class="s-login-error">{{loginModel.allErrors.password | translate}}</span>
			  </label>
			  <label class="item item-input item-floating-label" ng-hide="loginModel.modeLogin">
			    <span class="input-label s-login-label">{{'profile.firstName' | translate}}</span>
			    <input ng-model="loginModel.firstName" type="text" placeholder="{{'profile.firstName' | translate}}" class="s-login-input">
			    <span class="s-login-error">{{loginModel.allErrors.firstName | translate}}</span>
			  </label>
			  <label class="item item-input item-floating-label" ng-hide="loginModel.modeLogin"> 
                <span class="input-label s-login-label">{{'profile.lastName' | translate}}</span> 
                <input ng-model="loginModel.lastName" type="text" placeholder="{{'profile.lastName' | translate}}" class="s-login-input">
                <span class="s-login-error">{{loginModel.allErrors.lastName | translate}}</span>
              </label>
              <button class="s-login-btn" ng-show="loginModel.modeLogin" ng-click="login()">{{'login.login' | translate}}</button>
              <button class="s-login-btn" ng-hide="loginModel.modeLogin" ng-click="signin()">{{'login.signin' | translate}}</button>
        </form>
        <p ng-hide="loginModel.modeLogin" class="s-common-center s-login-p" ng-click="loginModel.modeLogin = true">{{'login.alreadyHave' | translate}}</p>
        <p ng-show="loginModel.modeLogin" class="s-common-center s-login-p" ng-click="loginModel.modeLogin = false">{{'login.stillNot' | translate}}</p>
    </ion-content>
</ion-view>
