<header class="bar bar-header"> 
    <input type="text" placeholder="search ..." class="s-search-input" ng-model="searchModel.query" ng-change="search()"/>
</header>
<ion-content class="has-header s-search-content sustainappScroll" >
    
    <!-- EMPTY RESULTS -->
    <div class="s-search-empty" ng-show="searchModel.empty">
        <i class="icon ion-android-search"></i>
    </div>
    
    <!-- ALL TEAMS -->
    <div class="s-search-type" ng-if="false == searchModel.empty && searchModel.teams.length >0" >
      <i class="icon ion-person-stalker"></i>
      {{'sideMenu.teams' | translate}}
    </div>
    <ion-list>
     <ion-item class="item-avatar" ng-repeat="team in searchModel.teams" type="item-text-wrap" href="#/tab/team/{{team.id}}" menu-toggle="right" ng-click="save()">
         <img ng-src="data:image/jpeg;base64,{{team.avatar}}" onerror="this.src='img/common/defaultAvatarMin.png'">
         <div class="s-teams-level">{{team.level}}</div>
         <h2 class="s-teams-title">{{team.name}}</h2>
         <p class="s-teams-text">{{'common.createdOn' | translate}} {{team.timestamps | date: 'dd/MM/yyyy'}}, {{team.listRole.length}} {{'common.members' | translate}}</p>
     </ion-item>
   </ion-list>
   
   <!-- ALL PROFILES -->
   <div class="s-search-type" ng-if="false == searchModel.empty && searchModel.profiles.length >0">
       <i class="icon ion-person"></i>
      {{'common.profiles' | translate}}
   </div>
   <ion-list>
     <ion-item class="item-avatar" ng-repeat="profil in searchModel.profiles" type="item-text-wrap" href="#/tab/profile/{{profil.id}}" menu-toggle="right" ng-click="save()">
         <img ng-src="data:image/jpeg;base64,{{profil.avatar}}" onerror="this.src='img/common/defaultAvatarMin.png'">
         <div class="s-teams-level">{{profil.level}}</div>
         <h2 class="s-teams-title">{{profil.firstName}} {{profil.lastName}}</h2>
         <p class="s-teams-text">{{'profile.registeredSince' | translate}} {{profil.timestamps | date: 'dd/MM/yyyy'}}</p>
     </ion-item>
   </ion-list>
   
   <!-- ALL COURSES -->
   <div class="s-search-type" ng-if="false == searchModel.empty && searchModel.courses.length >0">
       <i class="icon ion-university"></i>
      {{'viewTitle.certificates' | translate}}
   </div>
   <ion-list>
     <ion-item class="item item-thumbnail-left" ng-repeat="cours in searchModel.courses" type="item-text-wrap" href="#/tab/cours/{{cours.id}}" menu-toggle="right" ng-click="save()">
         <img ng-src="data:image/jpeg;base64,{{cours.picture}}" onerror="this.src='img/common/defaultCours.png'">
         <div class="s-challenges-level">{{cours.levelMin}}</div>
         <h2 class="s-teams-title">{{cours.title}}</h2>
         <p class="s-teams-text">{{cours.about}}</p>
         <p class="s-teams-text"><i class="icon ion-ios-calendar-outline"></i> {{cours.timestamps | date: 'dd/MM/yyyy'}}</p> 
     </ion-item>
   </ion-list>
   
   <!-- ALL CITIES -->
   <div class="s-search-type" ng-if="false == searchModel.empty && searchModel.cities.length >0">
       <i class="icon ion-location"></i>
      {{'viewTitle.cities' | translate}}
   </div>
   <ion-list>
     <ion-item class="item" ng-repeat="city in searchModel.cities" type="item-text-wrap" href="#/tab/city/{{city.id}}" menu-toggle="right" ng-click="save()">
         <h2 class="s-teams-title">{{city.name}}</h2>
         <p class="s-teams-text"><span class="s-city-span"><i class="icon ion-android-call"></i> {{city.phone}}</span></p>
     </ion-item>
   </ion-list>
            
</ion-content> 