<header class="bar bar-header sideMenuHeader">

</header>
<ion-content class="has-header sideMenuContent">
  <ion-list class="sideMenuItem">
    <ion-item menu-close href="#/app/search" class="sideMenuItem">
      <i class="icon ion-person sideMenuIcon"></i>
      Profil
    </ion-item>
    <ion-item menu-close href="#/app/search" class="sideMenuItem">
      <i class="icon ion-person-stalker sideMenuIcon"></i>
      Equipes
    </ion-item>  
    <ion-item menu-close href="#/app/search" class="sideMenuItem">
      <i class="icon ion-nuclear sideMenuIcon"></i>
      Signaler
    </ion-item> 
    <ion-item menu-close href="#/app/search" class="sideMenuItem">
      <i class="icon ion-log-out sideMenuIcon"></i>
      Deconnexion
    </ion-item> 
  </ion-list>
</ion-content>   