<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-show="loginModel.isConnected">

  <ion-tab icon-off="ion-ios-paper" icon-on="ion-ios-paper" href="#/tab/news">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="ion-trophy" icon-on="ion-trophy" href="#/tab/challenges">
    <ion-nav-view name="tab-challenges"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="ion-university" icon-on="ion-university" href="#/tab/certificates">
    <ion-nav-view name="tab-certificates"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="ion-ios-bell" icon-on="ion-ios-bell" href="#/tab/notifications">
    <ion-nav-view name="tab-notifications"></ion-nav-view>
  </ion-tab>

</ion-tabs>