<div class="s-login-usesContainer">
    <div class="s-login-iconPart">
        <img src="img/common/icon.png" class="s-login-icon"/>
        <h2 class="s-login-greentitle">Sustainapp</h2>
    </div>
    <div class="s-common-bluePart">
         <h2 class="s-common-whiteTitle">Qu'est ce que Sustainapp</h2>
    </div>
    <div class="padding">
         <h3 class="s-login-littleTitle">I. Objectifs du projet</h3>
         <p class="s-login-termTxt">
            Sustainapp est un projet conçu et développé au sein du <a target="_blanc" href="https://www.cirrelt.ca/">Cirrelt</a> pour <a target="_blanc" href="https://www.ulaval.ca/">l'Université Laval</a>
            et s'inscrit ainsi dans le cadre des <a target="_blanc" href="https://www.ulaval.ca/developpement-durable.html">objectifs de promotion du développement durable</a> de celle-ci. En outre, Sustainapp s'inscrit
            dans le cadre de la promotion des <a target="_blanc" href="https://www.cirrelt.ca/?Page=AXES_RECHERCHE_NOUVEAUX">gestes éco-responsables au sein des villes intelligentes</a>.
            <br />Ainsi, Sustainapp est un projet qui permettra à tout utilisateur de participer activement à la protection de l'environnement au sein des villes.
         </p>
         <img src="img/common/greenLaval.png" class="s-login-logoMin"/>
         <h3 class="s-login-littleTitle">II. Services offerts</h3>
         <p class="s-login-termTxt">
            Afin d'atteindre ses objectifs, Sustainapp est accessible en version web ou sous forme d'application mobile et fournit les services suivants :<br />
            <i class="icon ion-record s-login-list"></i><span class="s-login-listTitle">Profil personnel : </span>En vous inscrivant, vous accéderez à un profil modifiable que vous pouvez choisir de cacher à la recherche ou de montrer. Les fonctionnalités qui vont suivre vous permettront de faire monter, en termes de niveaux, votre profil par le gain de divers badges.<br />
            <i class="icon ion-record s-login-list"></i><span class="s-login-listTitle">Équipes : </span>Certaines fonctionnalités telles que la participation aux challenges peuvent être réalisées en équipe. Ainsi vous pouvez créer ou rejoindre des équipes.<br />
            <i class="icon ion-record s-login-list"></i><span class="s-login-listTitle">Challenges : </span>Un challenge vous permet de publier vos éco-réalisations sur un thème particulier ainsi que de noter et recevoir des notes sur les différentes participations.<br />
            <i class="icon ion-record s-login-list"></i><span class="s-login-listTitle">Cours et quizz : </span>Si vous avez des connaissances particulière, pour pourrez publier un cours qui sera suivi par les autres utilisateurs qui pourront également le noter. Suivre un cours et valider les différents quizz de celui-ci permet d’obtenir un badge sur votre profil.<br />
            <i class="icon ion-record s-login-list"></i><span class="s-login-listTitle">Actualités : </span>Afin d’être toujours à jours avec les nouveautés de l’application, différentes fonctionnalités vous sont offertes telles que : un journal permettant de visualiser les cours et participations en vogue, un système de notification temps réel qui vous préviendra de toutes les nouveautés ou encore d’un moteur de recherche vous permettant de vous informer.<br />
            <i class="icon ion-record s-login-list"></i><span class="s-login-listTitle">Villes et éco-lieux : </span>Les villes, peuvent créer sur la map des éco-lieux qui vous seront visibles. Vous pourrez noter et signaler que vous avez visité un éco-lieu pour obtenir un badge sur votre profil.<br />
            <i class="icon ion-record s-login-list"></i><span class="s-login-listTitle">Signalement : </span>Si un fait de toute nature vous semble affecter négativement l’écologie ou le bon fonctionnement de l’application Sustainapp, vous pouvez le signaler par l’envoi de messages ou de documents à l’administration.<br />
         </p>
         <h3 class="s-login-littleTitle">III. Avenir du projet</h3>
         <p class="s-login-termTxt">
            Sustainapp a pour ambition d’établir de réels partenariats avec les administrations des villes intelligentes au Canada et dans le monde afin de collaborer sur la création future de projets liés à l’application et à son intégration. Une 2eme version pourrait ainsi à terme voir le jours.
         </p>
    </div>
    <div class="s-common-bluePart">
         <h2 class="s-common-whiteTitle">Conditions d'utilisations</h2>
    </div>
    <div class="padding">
        <h3 class="s-login-littleTitle">I. Terminologie</h3>
         <p class="s-login-termTxt">
	        Dans les paragraphes qui vous suivre les mots suivants auront pour signification<br />	        
	        <i class="icon ion-record s-login-list"></i><span class="s-login-listTitle">Nous, Administrateur(s) : </span>tout membre de l'équipe du Cirrelt ou de l'Université Laval ayant pour tâche l'administration ou la maintenance de l'application Sustainapp et des services associés.<br />
	        <i class="icon ion-record s-login-list"></i><span class="s-login-listTitle">Vous, Membre(s), Utilisateur(s) : </span>toute personnes, internaute ou utilisateur d'un téléphone qui utilise l'application mobile Sustainapp, la version web ou l'un des services associés, qu'il soit inscrit ou non.<br />
	        <i class="icon ion-record s-login-list"></i><span class="s-login-listTitle">Sustainapp : </span>Désigne l’application mobile Sustainapp réalisée par le Cirrelt, le site web hébergé par le Cirrelt ainsi que l’ensemble des services associés.<br />
        </p>
        <h3 class="s-login-littleTitle">II. Respect des droits des autres</h3>
        <p class="s-login-termTxt">
            Lors de votre utilisation de Sustainapp et afin de que les droits de chacun soient respectés, il est impératif de respecter les points suivants :<br />
            <i class="icon ion-record s-login-list"></i>Ne pas publier de fausses informations, ou revendiquer des informations ou documents qui ne vous appartiennent pas.<br />
            <i class="icon ion-record s-login-list"></i>Ne pas utiliser de propos injurieux, racistes ou de nature blessante pour une catégorie sociale.<br />
            <i class="icon ion-record s-login-list"></i>Ne pas publier d’informations n’ayant pas de rapport avec l’écologie ou les objectifs de Sustainapp définis précédemment.<br />
            <i class="icon ion-record s-login-list"></i>Ne pas dévoiler son mot de passe ou celui d’un autre membre à une tiers personne.<br />
        </p>
        <h3 class="s-login-littleTitle">III. Interdictions</h3>
        <p class="s-login-termTxt">
            Afin de garantir la pérennité du projet Sustainapp, il est formellement interdit de :<br /> 
            <i class="icon ion-record s-login-list"></i>Récupérer ou utiliser des informations qui ne vous sont pas destinées ou qui ne sont pas publiques par analyse de la base de données, du trafic réseau ou par tout autre moyen.<br />
            <i class="icon ion-record s-login-list"></i>Altérer le bon fonctionnement de Sustainapp, par le biais d’attaques actives ou passives (dénis de service, injection de codes malveillants ou autre).<br />
            <i class="icon ion-record s-login-list"></i>Accéder à des fonctionnalités non prévues par l’interface utilisateur qui vous est accessible via Sustainnap (Appel d’URL non prévu ou autre).<br />
            <i class="icon ion-record s-login-list"></i>D’enregistrer en base des fichiers de type non autorisé (code ou exécutable) par l’utilisation notamment des champs de type fichier.<br />
            <br />
        </p>
        <p class="s-login-termTxt">
            Si l’un des point cité dans ces deux précédentes parties n’est pas respecté par l’utilisateur, l’équipe d’administration de Sustainapp pourra décider d’appliquer des sanctions pouvant aller de la simple modération du contenu à une poursuite judiciaire selon la nature de l’infraction.
        </p>
        <h3 class="s-login-littleTitle">IV. Responsabilités et conflits</h3>
        <p class="s-login-termTxt">
            Sustainapp, le Cirrelt et l’Université Laval sont en aucun cas responsables en ce qui concerne :<br />
            <i class="icon ion-record s-login-list"></i>La véracité des informations présentes, ajoutées par les utilisateurs ou le caractère offensant de celles-ci.<br />
            <i class="icon ion-record s-login-list"></i>Les actions non éco-responsables menées par les membres inscrits sur Sustainapp.<br />
            <i class="icon ion-record s-login-list"></i>Le contenu présent sur les sites web présent dans les liens externes et hypertextes.<br />
            <i class="icon ion-record s-login-list"></i>Le dysfonctionnement de l’application, même si dans ce cas l’administration fera de son mieux pour corriger l’éventuel problème dans les plus bref délais.<br />
            <br />
        </p>
        <p class="s-login-termTxt">
            Cependant, si vous remarquez lors de votre utilisation de Sustainapp la présence de l’un des points cités précédemment, vous pouvez choisir de nous le signaler via le service offert à cet effet “Signalement”. Ainsi l’équipe d’administration prendra les mesures nécessaires dans le cadre qu’il lui est permis par la lois.
        </p>
    </div>
    <div class="s-common-bluePart">
         <h2 class="s-common-whiteTitle">Politique de confidentialité</h2>
    </div>
    <div class="padding">
        <h3 class="s-login-littleTitle">I. Données recueillies</h3>
        <p class="s-login-termTxt">
            Sustainapp applique la <a target="_blanc" href="http://legisquebec.gouv.qc.ca/fr/ShowDoc/cs/A-2.1">Loi sur l'accès aux documents des organismes publics et sur la protection des renseignements personnels</a>
            ainsi aucune donnée hormis celles citées dans le paragraphe suivant, dont vous acceptez l'enregistrement, ne sera recueillie. <br />
            En effet, lors de l’utilisation de Sustainapp vous êtes amenés à saisir des informations (notamment lors de l’inscription) qui seront donc enregistrées de par le fait dans notre base de données. A part leur utilisation première  au sein de Sustainapp (affichage) nous les utilisons de manière privée à des fin statistiques pour nous aider dans les directions à suivre quand à l’avenir du projet.<br />
            Voici donc les différents types de données que sommes amenés à enregistrer dans notre base de données :<br />
            <i class="icon ion-record s-login-list"></i>Des informations sur vous (nom, prénom, date de naissance) qui seront visibles par l'ensemble des utilisateurs de Sutainapp.<br />
            <i class="icon ion-record s-login-list"></i>Votre adresse mail, qui ne sera pas divulguée mais accessible par les membres de l’équipe d’administration de Sustainapp, ainsi que votre mot de passe qui sera sauvegardée de manière crypté et donc inaccessible.<br />
            <i class="icon ion-record s-login-list"></i>Toutes informations que vous aurez choisi de saisir via nos formulaires (contenu d’un cours, participation à un challenge, nom et description d’une équipe...) qui seront visible de tous les utilisateurs exception faite comme nous l’avons dit du mail et du mot de passe.<br />
            <i class="icon ion-record s-login-list"></i>Des informations que vous n’avez pas saisies : les pages de sustianapp que vous avez visitées ou les boutons sur lesquels vous avez cliqué ainsi que votre position géographique lorsque vous utilisez la carte. Ces informations ne seront visibles que par les membres de l’équipe d’administration de Sustainapp qui ne les divulguerons pas.<br />
            <i class="icon ion-record s-login-list"></i>Des informations relatives à l’outil utilisé pour accéder à Sustainapp (type de machine, adresse IP et navigateur). Ces données ne seront accessibles qu’aux membres de l’équipe d’administration de Sustainapp qui ne les divulguerons pas.<br />
         </p>
        <h3 class="s-login-littleTitle">II. Divulgation</h3>
        <p class="s-login-termTxt">
            Aucune des données citées précédemment ne sera vendues. Par ailleurs, aucune données ne sera utilisée hors du cadre du projet Sustainapp, de celui de la recherche au sein du Cirrelt pour la promotion du développement durable ou à des fins statistiques pour l’amélioration future du projet.
        </p>
    </div>
    <div class="s-common-bluePart">
         <h2 class="s-common-whiteTitle">Mentions légales</h2>
    </div>
    <div class="padding">
        <h3 class="s-login-littleTitle">I. Hébergement du projet et des données</h3>
        <p class="s-login-termTxt">
            <i class="icon ion-record s-login-list"></i>Le site web Sustainapp ainsi que la base de données utilisée par le site web et l’application mobile sont hébergés au sein des serveurs privés du Cirrelt au Palaisis-Prince, Université Laval ( 2325 Rue de la Terrasse, Ville de Québec, QC G1V 0A6).<br />
            <i class="icon ion-record s-login-list"></i>L’application mobile quand à elle se trouve matériellement sur votre mobile ainsi que sur le Google Play Store. (<a target="_blanc" href="https://play.google.com">https://play.google.com</a>)<br />
        </p>
        <h3 class="s-login-littleTitle">II. Réalisation du projet</h3>
        <p class="s-login-termTxt">
            Le projet à été conçu et dirigé par les équipes du Cirrlet, le développement du site web, de la base de données et de l’application mobile ont été réalisés par <a target="_blanc" href="https://www.uprodit.com/profile/personal/130168">Anas Neumann</a>.
        </p>
    </div>
    <div class="s-topic-return s-topic-top" ng-click="loginModel.read = false">                         
        <i class="icon ion-arrow-return-left"></i><br />
        <span>{{'login.return' | translate}}</span>
    </div>
</div>