@CHARSET "UTF-8";
/**
 * Le styles partagés par toutes les pages
 * @author Anas Neumann <anas.neumann.isamm@gmail.com>
 * @since 10/02/2017
 * @version 1.0
 */
 
@font-face {
    font-family: sustainapp;
    src: url(../fonts/MAJALLA.TTF);
}

@font-face {
    font-family: sustainapp-bold;
    src: url(../fonts/MAJALLAB.TTF);
}

body {
	font-family: sustainapp !important;
	font-size : 20px;
}

.s-common-center{
	text-align:center;
	margin: auto;
}

.ng-hide{
     display: none !important;
}

.item-floating-label{
	border : none !important;
	margin-top : 0px;
	padding:0px;
}