@CHARSET "UTF-8";
/**
 * Le style de la page des cours
 * @author Anas Neumann <anas.neumann.isamm@gmail.com>
 * @since 31/03/2017
 * @version 1.0
 */

.s-cours-levelMin{
	padding : 15px;
	border-top : 1px solid #ddd;
	cursor : pointer;
}

.s-cours-levelMin-number {
	display : inline-block; 
    position: absolute;
    right: 20px;
    width : 22px;
    height : 22px;
    text-align :center;
    border-radius : 3px;
    border: 2px solid #2dbe60;
    font-size : 22px;
    padding-top : 1px;
    color : #2dbe60;
    font-family:  sustainapp-bold;
}

.s-cours-star{
    color : #23d5fb;
    font-size : 32px;
    margin-right : 10px;
    cursor : pointer;
}

.s-cours-starText{
	position : relative;
	top : -3px;
	cursor : pointer;
}

.s-cours-topicImageContainer{
	position : relative;
    height : 180px;
    width : 100%;
    background-color: #F0F0F0;
    margin : auto;
    margin-top : 25px;
    border : 1px solid #E0E0E0;
    color : #D0D0D0;
    background-position : center;
    background-repeat : no-repeat;
    background-size : cover;
    font-size : 100px;
    padding-top : 40px;
}

.s-cours-topicPicture{
	width : 100px;
	display : block;
	margin : auto;
}

.s-cours-greyBtnContainer{
    padding: 0px;
    margin :0px;
}

.s-cours-greyBtn{
    margin: 0px;
    padding: 10px;
    background-color: #F0F0F0;
    height: 50px;
    overflow: hidden;
    text-align: center;
    color: #888;
    transition : all O.3s ease-in-out;
}

.s-cours-leftBtn{
	border-right : 1px solid #D0D0D0;
}

.s-cours-greyBtn:active{
    background-color: #E0E0E0;
    transition : all O.3s ease-in-out;
}

.s-cours-hasntLevel{
	text-align: center;
	color : #888;
	font-size : 20px;
}

.s-cours-alert{
	display:block;
	font-size : 50px;
	color : #ccc;
}