@CHARSET "UTF-8";
/**
 * Le style de la page des cours
 * @author Anas Neumann <anas.neumann.isamm@gmail.com>
 * @since 31/03/2017
 * @version 1.0
 */

.s-cours-levelMin{
	padding : 15px;
	border-top : 1px solid #ddd;
	cursor : pointer;
}

.s-cours-levelMin-number {
	display : inline-block; 
    position: absolute;
    right: 20px;
    width : 22px;
    height : 22px;
    text-align :center;
    border-radius : 3px;
    border: 2px solid #2dbe60;
    font-size : 22px;
    padding-top : 1px;
    color : #2dbe60;
    font-family:  sustainapp-bold;
}

.s-cours-star{
    color : #23d5fb;
    font-size : 32px;
    margin-right : 10px;
    cursor : pointer;
}

.s-cours-starText{
	position : relative;
	top : -3px;
	cursor : pointer;
}