@CHARSET "UTF-8";
/**
 * Le style de la page de connexion
 * @author Anas Neumann <anas.neumann.isamm@gmail.com>
 * @since 09/02/2017
 * @version 1.0
 */

.s-login-view {
  background-color: #2dbe60;
  color : white;
}

.s-login-content{
	padding : 0px;
	max-width : 525px;
    margin : auto;
}

.s-login-logo{
	width : 110px;
	height : 110px;
	display: block;
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
}

.s-login-input{
	width : 100%;
	background-color: transparent;
	border-bottom : 1px solid #23964b !important;
	height : 50px;
	color : white !important;
	font-family: sustainapp;
	font-size : 20px !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.s-login-input:focus{
	border-bottom : 2px solid white !important;
	-webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.s-login-input::-webkit-input-placeholder {
    color: #23964b !important;
}
.s-login-input:-moz-placeholder {
   color: #23964b !important;
   opacity:  1;
}
.s-login-input::-moz-placeholder {
   color: #23964b !important;
   opacity:  1;
}
.s-login-input:-ms-input-placeholder {
   color: #23964b !important;
}

.s-login-label{
	color: #23964b !important;
}

.s-login-btn{
	background-color: #23964b;
	color: white;
	border:none;
	height : 50px;
	font-size : 20px;
	font-family: sustainapp;
	width:100%;
	display:block;
	margin-top:30px;
	margin-bottom:40px;
	border-radius : 3px;
	-webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.s-login-btn:active {
    background-color: #28a754;
    -webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.25);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.s-login-p{
	cursor: pointer;
	text-decoration: underline;
}

.s-login-error {
	color  : white;
}

.s-login-form{
	padding : 25px;
}

.s-login-modeContainer{
	border : 1px solid #23964b;
	padding : 0px;
	margin : 0px;
}

.s-login-modeBtn{
	padding : 7px;
	margin : 0px;
	text-align : center;
	cursor : pointer;
}

.s-login-modeBtn-dark{
	background-color: #23964b;
	-webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/**
 * PARTIE TERMS OF USE
 */
 
.s-login-usesContainer{
	background-color: white;
}

.s-login-iconPart{
	background-color: #E5E5E5;
	padding : 5px;
	text-align : center;
}

.s-login-greentitle{
	color : #2dbe60;
	font-family: Sustainapp;
	font-size : 45px;
	margin : 0px;
}

.s-login-icon{
	width : 100px;
	height : 100px;
	margin : 0px;
	margin-top : 10px;
}

.s-login-littleTitle{
	color : #2dbe60;
    font-family: Sustainapp;
    font-size : 26px;
    margin : 0px;
    margin-top : 10px !important;
}

.s-login-termTxt{
	color : black;
	text-align: justify;
	margin-top : 3px;
	margin-bottom : 3px;
	text-indent: 15px;
	
}

.s-login-termTxt a{
	color : #04c1ea;
	text-decoration: none;
	cursor : pointer;
}

.s-login-logoMin{
	display : block;
	width : 90px;
	height: 90px;
	margin : auto;
	margin-bottom : 7px;
	margin-top : 5px;
}

.s-login-list{
	display: inline-block;
	margin-top : 7px;
	font-size : 10px;
	margin-right : 5px;
	color : #04c1ea;
}

.s-login-listTitle{
	color : #03afd3;
}