@CHARSET "UTF-8";
/**
 * Le styles des menus
 * @author Anas Neumann <anas.neumann.isamm@gmail.com>
 * @since 04/02/2017
 * @version 1.0
 */

/*
 *=============================
 * HEADER
 *=============================
 */
 
[nav-bar-transition="ios"] [nav-bar="active"] .bar,
[nav-bar-transition="ios"] [nav-bar="entering"] .bar,
[nav-bar-transition="android"] [nav-bar="active"] .bar,
[nav-bar-transition="android"] [nav-bar="entering"] .bar {
  background-color: #28a754;
  box-shadow : 0px 0px 2px 1px rgba(0,0,0,0.35);
  color : white;
}

.ion-navicon{
	color : white;
}

/*
 *=============================
 * Main Navigation Menu
 *=============================
 */

.tabs {
    padding-top : 8px !important;
    background-color: #2dbe60 !important;
    color : white;
    border : none !important;
}

ion-tabs.tabs-color-active-positive .tab-item
{
	color : #23964b;
}

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated,
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-color-active-positive .tab-item.activated {
	 color : white;
}

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated {
  border-bottom : 2px solid #249b4e;
}

/*
 *=============================
 * Left Slide Menu 
 *=============================
 */

.menu-left{
	background-color: #2dbe60 !important;
}

.sideMenuHeader{
	background-color: #2dbe60!important;
	color : white;
	height : 200px;
	background-image: none !important;
	border-bottom : 1px solid #249b4e;
}

.sideMenuContent{
	top : 200px;
	overflow:hidden;
}

.sideMenuItem,
.sideMenuItem .item-content {
	background-color: transparent;
	border : none;
	color : white;
	-webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sideMenuItem{
   border-bottom : 1px solid #249b4e;
   font-size : 20px;
}

.sideMenuItem .item-content:active{
   background-color: #28a754;
   -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sideMenuIcon{
	margin-right : 5px;
	position : relative;
	top : 2px;
}
