@CHARSET "UTF-8";
/**
 * Le styles des menus
 * @author Anas Neumann <anas.neumann.isamm@gmail.com>
 * @since 04/02/2017
 * @version 1.0
 */

/*
 *=============================
 * HEADER
 *=============================
 */
 
[nav-bar-transition="ios"] [nav-bar="active"] .bar,
[nav-bar-transition="ios"] [nav-bar="entering"] .bar,
[nav-bar-transition="android"] [nav-bar="active"] .bar,
[nav-bar-transition="android"] [nav-bar="entering"] .bar {
  background-color: #112e34;/*
  background: -webkit-linear-gradient(20deg, #3be8b0, #02ceff);
  background: -o-linear-gradient(20deg, #3be8b0, #02ceff);
  background: -moz-linear-gradient(20deg, #3be8b0, #02ceff);
  background: linear-gradient(20deg, #3be8b0, #02ceff);
  */
  color : white;
}

/*
 *=============================
 * Main Navigation Menu
 *=============================
 */

.tabs {
    padding-top : 8px !important;
    background-color: #02ceff !important;
    color : white;
    border : none !important;
}

ion-tabs.tabs-color-active-positive .tab-item
{
	color : white;
}

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated,
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-color-active-positive .tab-item.activated {
	 color : #112e34;
}

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated {
  border-bottom : 1px solid #112e34;
}

/*
 *=============================
 * Left Slide Menu 
 *=============================
 */
