@CHARSET "UTF-8";
/**
 * Le style les fenêtres modales
 * @author Anas Neumann <anas.neumann.isamm@gmail.com>
 * @since 23/02/2017
 * @version 1.0
 */
 
 .s-modal-views{
    background-color: transparent;
    height : 100%;
 }
 
 @media (max-width: 680px) {
  .s-modal-views {
    background-color: rgba(0,0,0,0.50);
  }
}
 
 @media (min-width: 680px){
   ion-modal-view ion-content{
        overflow: hidden !important;
   }
 }
 
 .s-modal-confirm{
	background-color: white;
	border-radius: 3px;
	margin-top : 25px;
	padding: 10px;
 }
 
 .s-modal-center{
    text-align : center;
 }