@CHARSET "UTF-8";
/**
 * Le style de la page des profiles
 * @author Anas Neumann <anas.neumann.isamm@gmail.com>
 * @since 09/02/2017
 * @version 1.0
 */
 
 .s-profile-coverContainer {
    background-color: #2dbe60;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height : 120px;
    width : 100%;
    position : relative;
 }
 
 .s-profile-pageContainer {
    position : relative;
    top : -70px;
 }
 
  .s-profile-avatarContainer {
    background-color: white;
    height : 120px;
    width : 120px;
    overflow : hidden;
    margin : 0px;
    display:inline-block;
 }
 
 .s-profile-avatar {
    height : 110px;
    width : 110px;
    margin : 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position : relative;
 }
 
 .s-profile-infos {
    display : inline-block;
    position : relative;
    width : 100%;
 }
 
 .s-profile-name {
    display : inline-block;
    font-family: sustainapp-bold;
    margin : 0px;
    color : #333;
 }
 
 .s-profile-badge{
    width : 70px;
    height : 70px;
    border-radius : 70px;
 }