@CHARSET "UTF-8";
/**
 * Le style de la page des questions
 * @author Anas Neumann <anas.neumann.isamm@gmail.com>
 * @since 10/04/2017
 * @version 1.0
 */
 
.s-question-type {
	display: inline-block;
	font-size : 20px !important;
	position : relative;
	top : 30px;
}

.s-questions-listType{
	margin-top : 20px;
}

.s-questions-pictureContainer{
	margin : auto;
	margin-top : 0px !important;
}