@CHARSET "UTF-8";
/**
 * Le style de la page des questions
 * @author Anas Neumann <anas.neumann.isamm@gmail.com>
 * @since 10/04/2017
 * @version 1.0
 */
 
.s-question-type {
	display: inline-block;
	font-size : 20px !important;
	position : relative;
	top : 30px;
}

.s-questions-listType{
	margin-top : 20px;
}

.s-questions-pictureContainer{
	margin : auto;
	margin-top : 0px !important;
}

.s-questions-anwserPicture{
    position : relative;
    height : 250px;
    width : 250px;   
    background-color: #F0F0F0;
    margin : auto;
    margin-top : 15px;
    border : 1px solid #E0E0E0;
    color : #D0D0D0;
    background-position : center;
    background-repeat : no-repeat;
    background-size : cover;
    font-size : 125px;
    padding-top : 62px;
}