@CHARSET "UTF-8";
/**
 * Le styles de la page de recherche
 * @author Anas Neumann <anas.neumann.isamm@gmail.com>
 * @since 17/02/2017
 * @version 1.0
 */
 
.s-search-content {
	background-color: #F0F0F0;
	overflow-x : hidden;
	overflow-y : auto;
}

.s-search-input {
	width : 99%;
	font-size : 20px !important;
	font-family : sustainapp;
}

.s-search-empty {
	color :  #D5D5D5;
	font-size : 110px;
	text-align  : center;
	width : 100%;
	margin-top : 25px;
}

.s-search-type{
   color :  #888;
   padding : 10px;
}