@CHARSET "UTF-8";
/**
 * Le style de la page d'un topic
 * @author Anas Neumann <anas.neumann.isamm@gmail.com>
 * @since 03/04/2017
 * @version 1.0
 */
 
 /**
  * ===================
  * LE TOPIC S-TOPIC-**
  * ===================
  */
 
.s-topic-pictureContainer{
	width : 100%;
	height : 160px;
	background-color: #D0D0D0;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow : hidden;
    padding : 0px;   
}

.s-topic-pictureBtn{
	width : 100%;
    height : 110px;
	position : relative;
}

.s-topic-titleContainer{
	height:50px;
	width : 100%;
	background-color: black;
	opacity : 0.6;
	padding-left : 10px;
	padding-top : 10px;
}

.s-topic-text{
	padding : 10px;
	color : #444;
	text-align:justify;
	font-size : 20px;
}

.s-topic-about{
	position : relative;
	top : 10px;
}

.s-topic-return{
	text-align : center;
	margin-top : 10px;
	margin-bottom : 10px;
}

.s-topic-top,
.s-topic-return a {
	color : #28a754;
	font-size : 22px;
    cursor : pointer;
	text-decoration: none;
}

.s-topic-top:active,
.s-topic-return a:active {
    color : #2dbe60;
}

.s-topic-ribbon{
	font-size : 27px;
	position : relative;
	top : 5px;
	margin-right : 5px;
}

.s-topic-partBtn{
	width : 100%;
	height : 75px;
	background-color : #23d5fb;
	text-align : center;
	overflow : hidden;
	padding : 0px;	
}

.s-topic-partImg{
	border-radius : 100%;
	width : 55px;
	height : auto;
}

.s-topic-blueMenuBtn {
	background-color : #23d5fb;
	color :white ;
	text-align:center ;	
	padding : 2px;
	padding-top : 6px;
	border-bottom-left-radius : 5px;
	border-bottom-right-radius : 5px;
	margin : 0px;
	width : 25px;
	position : relative;
    left : 20px;
    cursor : pointer;
    font-size: 15px;
}

.s-topic-blueCol{
    padding-top : 10px;	
    cursor : pointer;
}

.s-topic-blueCol:active{
	background-color : #04b9df;
	cursor : pointer;
}

.s-topic-seePreview{
	margin-left : 10px;
	font-size : 30px;
	position : relative;
	top : -5px;
}

/**
 * =====================
 * LES PARTIES S-PART-**
 * =====================
 */
 
 .s-part-modalSpace{
    height : 25px;
 }
 
 .s-part-borderInput-label{
    border : none;
 }

 .s-part-borderInput{
    border : 1px solid #ccc !important;
    font-size : 30px;
 }
 
 .s-part-borderInput-icon{
    font-size : 30px;
    position : relative;
    top : 5px;
    color : #04b9df;
 }
 
 .s-part-borderInput-input{
    font-family: sustainapp;
    font-size : 20px !important;
 }
 
 .s-part-textareaDiv{
    padding : 10px;
    border : 1px solid #ccc !important;
    border-radius : 3px;
    width : 100%;
    overflow-x : hidden;
    margin-top : 20px;
 }
 
 .s-part-textarea{
    width : 100%;
    font-family: sustainapp;
    font-size : 20px !important;
    border : none;
 }
 
 .s-part-displayTextDiv{
    text-align : justify;
    padding-left : 20px;
    padding-right : 20px;
    margin-bottom : 10px;
    margin-top : 10px;
    color : #444;
 }
 
 .s-part-displayTextTitle{
    color : #28a754;
    font-size : 25px;
 }
 
 .s-part-displayText{
    white-space: pre-wrap;
 }
 
 .s-part-displayDocumentTitle{
    font-style: italic;
    text-align: center;
    margin : 5px;
 }
 
 .s-part-displayLinkDiv{
    padding-left : 20px;
    padding-right : 20px;
    margin-bottom : 10px;
 }
 
 .s-part-displayLink,
 .s-part-displayLink:active{
    color : #444;
    text-decoration: none;
    font-style: italic;
 }
 
 .s-part-displayLink-visit{
    font-style: normal;
    color : #04b9df;
    margin-right : 5px;
 }
 
 .s-part-topPart{
    text-align : right;
    margin : 0px;
 }
 
 .s-part-topPart-one{
    margin : 0px;
    width : 30px;
    height:30px;
    display : inline-block;
    opacity : 0.5;
    color : #333;
    cursor : pointer;
    text-align : center;
    padding-top : 6px;
    font-size : 20px;
 }
 
 .s-part-topPart-one:active{
    opacity : 0.9;
 }
 
 .s-part-ibig{
    font-size : 22px;
 }