@CHARSET "UTF-8";
/**
 * Le style de la page d'un topic
 * @author Anas Neumann <anas.neumann.isamm@gmail.com>
 * @since 03/04/2017
 * @version 1.0
 */
 
.s-topic-pictureContainer{
	width : 100%;
	height : 160px;
	background-color: #D0D0D0;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow : hidden;
    padding : 0px;   
}

.s-topic-pictureBtn{
	width : 100%;
    height : 110px;
	position : relative;
}

.s-topic-titleContainer{
	height:50px;
	width : 100%;
	background-color: black;
	opacity : 0.6;
	padding-left : 10px;
	padding-top : 10px;
}

.s-topic-text{
	padding : 10px;
	color : #666;
	text-align:justify;
	font-size : 20px;
}

.s-topic-about{
	position : relative;
	top : 10px;
}

.s-topic-return{
	text-align : center;
}
.s-topic-return a {
	color : #28a754;
	font-size : 22px;
    cursor : pointer;
	text-decoration: none;
}

.s-topic-return a:active {
    color : #2dbe60;
}