<ion-popover-view>
  <ion-header-bar>
    <h3 class="s-challenges-title">{{'challenges.filterBy' | translate}} :</h3>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item item-avatar" type="item-text-wrap" ng-click="changeFilter('');">
         <img ng-src="img/challengetype/nothing.png" />
         <p class="s-teams-text s-challenges-type-item">{{'challenges.nothing' | translate}}</p>
      </ion-item>
      <ion-item class="item item-avatar" ng-repeat="type in challengesModel.types" type="item-text-wrap" ng-click="changeFilter(type.name);">
         <img ng-src="img/challengetype/{{type.icon}}.png" />
         <p class="s-teams-text s-challenges-type-item">{{type.name | translate}}</p>
      </ion-item>
    </ion-list> 
  </ion-content>
</ion-popover-view>