<ion-popover-view>
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar s-challenge-participant" ng-repeat="profile in challengeModel.allProfiles" type="item-text-wrap" ng-click="changeProfiles(profile);">
             <img ng-src="data:image/jpeg;base64,{{profile.avatar}}" onerror="this.src='img/common/defaultAvatarMin.png'">
             <div class="s-teams-level">{{profile.level}}</div>
             <h2 class="s-teams-title">{{profile.denomination}}</h2>
             <p class="s-teams-text">{{profile.type | translate}}</p>
         </ion-item>
    </ion-list> 
  </ion-content>
</ion-popover-view>