<ion-view >
  <ion-nav-title ng-bind="title"></ion-nav-title>
  
  <!-- Page loaded -->
  <ion-content ng-show="model.loaded">
    <div class="s-common-greyPart" >
       <h3 class="s-common-greyTitle" ng-click="participateModal.show()"><i class="icon ion-android-locate s-challenge-plus"></i> {{'place.locateMe' | translate}}</h3>
    </div>
    <div class="s-common-greyPart" ng-show="model.isOwner">
       <h3 class="s-common-greyTitle" ng-click="participateModal.show()"><i class="icon ion-ios-plus-outline s-challenge-plus"></i> {{'place.picture.add' | translate}}</h3>
    </div>
  </ion-content>
  
  <!-- Loading Part -->
  <ion-content class="s-common-loading" ng-hide="model.loaded">
        <ion-spinner icon="dots"></ion-spinner>
        <h2 class="s-common-loadingText">{{'common.loading' | translate}}</h2>
  </ion-content>
</ion-view>