<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-show="loginModel.isConnected">

  <!-- Dashboard Tab -->
  <ion-tab icon-off="ion-ios-paper" icon-on="ion-ios-paper" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab icon-off="ion-trophy" icon-on="ion-trophy" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab icon-off="ion-university" icon-on="ion-university" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Account photo -->
  <ion-tab icon-off="ion-ios-bell" icon-on="ion-ios-bell" href="#/tab/photo">
    <ion-nav-view name="tab-photo"></ion-nav-view>
  </ion-tab>

</ion-tabs>